@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.active>a {
    background-color: white;
    color: #009688 !important;
}

.nav-item>a:hover {
    background-color: white;
    color: #009688 !important;
}


.link-fonts {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.social-icons>span,
.social-icons>a {
    font-size: 18px;
    color: grey;
    margin: 10px;
    text-decoration: none;
}

.phone {
    transform: rotateY(180deg);
    color: #FF4A52;
}

.search {
    background-color: #FF4A52;
}

.search>span {
    font-size: 20px;
    color: white;
}

.search-box {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.search-box button {
    background-color: #FF4A52;
    color: white;
    border-radius: 0px 10px 10px 0px !important;
    font-size: 20px;
}

.search-box input {
    font-size: 50px;
    border-radius: 10px 0px 0px 10px !important;
}

.search-close {
    font-size: 50px;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
}

.search-close:hover {
    cursor: pointer;
}

.carousel-caption {
    bottom: 200px;
}

.carousel-caption>h5 {
    font-size: 100px;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 600;
}