@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');


:root {
    --primary: #009688;
    --secondary: #FF4A52;
}


/* navigation bar start */
.active>a {
    background-color: white;
    color: var(--primary) !important;
}

.nav-item>a:hover {
    background-color: white;
    color: var(--primary) !important;
}


.link-fonts {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.social-icons>span,
.social-icons>a {
    font-size: 18px;
    color: grey;
    margin: 10px;
    text-decoration: none;
}

.phone {
    transform: rotateY(180deg);
    color: var(--secondary);
}

.search {
    background-color: var(--secondary);
}

.search>span {
    font-size: 20px;
    color: white;
}

.search-box {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.search-box button {
    background-color: #FF4A52;
    color: white;
    border-radius: 0px 10px 10px 0px !important;
    font-size: 20px;
}

.search-box input {
    font-size: 50px;
    border-radius: 10px 0px 0px 10px !important;
}

.search-close {
    font-size: 50px;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
}

.search-close:hover {
    cursor: pointer;
}

/* navigation bar end */


/* carousel start*/

.carousel-caption {
    bottom: 200px;
}

.carousel-caption>h5 {
    font-size: 100px;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 600;
}

/* carousel end*/

/* about us start */
#about>h1 {
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}

.about-text>div {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 20px;
    text-align: justify;
}

/* about us end */

/* places start */
#places>h1 {
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}

.price-tag {
    position: absolute;
    background-color: #009688;
    color: white;
    padding: 10px;
    width: 70px;
    top: 10px;
    left: 10px;

}

#places a {
    background-color: var(--secondary);
}

/* places end */

/* display video */
.display-video {
    width: 100%;
    height: 60vh;
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-position: center;

}

.video-text {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 600;
}

.play-button {
    color: white;
    width: 100px;
    height: 100px;
    background-color: var(--primary);
}